      <div id="file_names">
        <div class="well">
        <fieldset>
          <legend>Input</legend>
            <div class="form-group">
            <label class="control-label" for="input_name">Input</label>
              <div class="controls">
              <input type="text" name="input_name" id="input_name" placeholder="input" />
              </div>
            </div>
          <br/>
        </fieldset>
        </div>
      </div>

      <div class="well">
      <fieldset>
        <legend>Output</legend>
          <div class="form-group">
          <label class="control-label" for="output_name">Output</label>
            <div class="controls">
            <input type="text" name="output_name" id="output_name" placeholder="output" />
            </div>
          </div>
        <br/>
        <input type="button" class="btn btn-large btn-primary" name="display_generate" id="add_subtitles_generate" value="Generate" />
      </fieldset>
      </div>

      <div class="well">
        <fieldset>
          <legend>Your command line:</legend>
          <textarea name="command_line" id="command_line" rows="3" cols="100"></textarea>
        </fieldset>
      </div>


    </div> <!-- container -->