      <div id="file_names">
        <div class="well">
        <fieldset>
          <legend>Input</legend>
            <div class="form-group">
            <label class="control-label" for="input_name">Input</label>
              <div class="controls">
              <input type="text" name="input_name" id="input_name" placeholder="input" />
              </div>
            </div>
          <br/>
          <input type="button" class="btn btn-large btn-primary" name="display_generate" id="display_generate" value="Generate" />
        </fieldset>
        </div>
      </div>

      <div class="well">
        <fieldset>
          <legend>Your command line:</legend>
          <textarea name="display_command_line" id="display_command_line" rows="1" cols="100"></textarea>
        </fieldset>
      </div>

    </div> <!-- container -->