    <div id="file_names">
      <div class="well">
      <fieldset>
        <legend>Input</legend>
          <div class="form-group">
          <label class="control-label" for="input_name">Input</label>
            <div class="controls">
            <input type="text" name="input_name" id="input_name" placeholder="input" />
            </div>
          </div>
        <br/>
      </fieldset>
      </div>
    </div>

    <div class="well">
    <fieldset>
      <legend>Audio track</legend>
        <div class="form-group">
        <label class="control-label" for="subtitles_name">Audio track</label>
          <div class="controls">
          <input type="text" name="subtitles_name" id="subtitles_name" placeholder="audio.mp3" />
          </div>
        </div>
    </fieldset>
    </div>

    <div class="well">
    <fieldset>
      <legend>Output</legend>
        <div class="form-group">
        <label class="control-label" for="output_name">Output</label>
          <div class="controls">
          <input type="text" name="output_name" id="output_name" placeholder="output" />
          </div>
        </div>
          </fieldset>
          <br/>
          <fieldset>
      <input type="button" class="btn btn-large btn-primary" name="add_subtitles_generate" id="add_subtitles_generate" value="Generate" />
          </fieldset>
    </div>

    <div class="well">
      <fieldset>
        <legend>Your command line:</legend>
        <textarea name="subtitles_command_line" id="subtitles_command_line" rows="3" cols="100"></textarea>
      </fieldset>
    </div>

  </div> <!-- container -->