    <div class="container">
      <h1>➺ ffmproviser ❥</h1>

<!-- form begins -->

      <div class="well">
        <fieldset>
          <legend>First form</legend>
          <!-- First we need a select question option... form or not? -->
          <h4>What is your question?</h4>
          <ul>
            <li>Display info</li>
            <li>Export for web</li>
            <li>Add subtitles track</li>
            <li>Remove audio track</li>
            <li>Add audio track</li>
          </ul>
        </fieldset>
       </div>

<!-- todo: yield for form depending on choice above -->

  <%= render "web" %>
  


    <div class="footer">
      <p>Made with ♥ by <a href="http://www.ashleyblewer.com">Ashley Blewer</a></p>
    </div>
  </body>