    <div class="container">
      <h1>➺ ffmproviser ❥</h1>

<!-- form begins -->

      <div class="well">
        <fieldset>
          <legend>What do you want to do?</legend>
          <h3>Select from the following.</h3>
          <ul>
            <li>
              <div id="show_display_info">Display info</div>
            </li>
            <li>
              <div id="show_web">Export for web</div>
            </li>
            <li>
              <div id="show_add_subtitles">Add subtitles track</div>
            </li>
            <li>Remove audio track</li>
            <li>Add audio track</li>
          </ul>
        </fieldset>
       </div>

  <div id="formloader">
    <div class="display_info" style="display:none;">
    <%= render "display_info" %>
    </div>
    <div class="web" style="display:none;">
    <%= render "web" %>
    </div>
    <div class="add_subtitles" style="display:none;">
    <%= render "add_subtitles" %>
    </div>
  </div>
