    <div class="container">
      <h1>➺ ffmproviser ❥</h1>

<!-- form begins -->

      <div class="well">
        <fieldset>
          <legend>First form</legend>
          <!-- First we need a select question option... form or not? -->
          <h4>What do you want to do?</h4>
          <ul>
            <li>
              Display info
            </li>
            <li>Export for web</li>
            <li>Add subtitles track</li>
            <li>Remove audio track</li>
            <li>Add audio track</li>
          </ul>
        </fieldset>
       </div>

<!-- todo: yield for form depending on choice above -->

  <div class="formloader">
    <%= render "display" %>
  </div>
<!--   <%= render "web" %> -->



    