<!DOCTYPE html>
<html>
  <head>
    <title>ffmprovisor</title>
    <meta charset="utf-8">

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <link href="assets/jquery.steps.css" rel="stylesheet" >

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="assets/forms.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js">
    </script>
  </head>
  <body>

    <div class="row">
      <div class="container">
        <%= yield %>
      </div>
      
    </div>

    
    <div class="footer text-center">
      <p>Made with ♥ by <a href="http://www.ashleyblewer.com">Ashley Blewer</a></p>
    </div>
  </body>
  </body>
</html>
