<!DOCTYPE html>
<html>
<head>
  <title>ffmprovisor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href ="app/assets/stylesheets/css/bootstrap.css" rel="stylesheet">
</head>
<body>

<%= yield %>

</body>
</html>
